body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a3a3a3;
    color: #333;
    text-align: center;
}

header {
    background-color: #9a0000;
    color: rgb(109, 1, 1);
    padding: 20px;
}

main {
    padding: 40px 20px;
}

a {
    display: inline-block;
    background-color: #a91616;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
}

a:hover {
    background-color: #5d5d5d;
}

footer {
    background-color: #9b0000;
    color: rgb(0, 0, 0);
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}