body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    text-align: center;
}

header {
    background-color: #0067cd;
    color: rgb(255, 255, 255);
    padding: 20px;
}

main {
    padding: 40px 20px;
}

a {
    display: inline-block;
    background-color: #828282;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
}

a:hover {
    background-color: #5d5d5d;
}

footer {
    background-color: #0073ff;
    color: rgb(0, 0, 0);
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}